<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/index.css" />
    <script defer src="/level.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/dragula@3.7.2/dist/dragula.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/dragula@3.7.2/dist/dragula.min.js"></script>

    <title>Handcrafted HTTP — {{LEVEL}}</title>
  </head>
  <body>
    <div class="next" id="next" style="opacity: 0;">
      <h1>✨ Correct ✨</h1>
      <br />
      <button type="button" id="nextButton">NEXT</button>
    </div>

    <div id="readme" class="pane">
      {{README}}
    </div>

    <div class="pane" id="console">
      <div id="from" class="box">
        {{OPTIONS}}
      </div>

      <br />

      <div id="to" class="box"></div>

      <br />

      <button id="check" type="button" name="check">SUMBIT</button>
    </div>
  </body>
</html>
