<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/index.css" />
    <script defer src="/index.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/dragula@3.7.2/dist/dragula.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/dragula@3.7.2/dist/dragula.min.js"></script>

    <title>Handcrafted HTTP</title>
  </head>
  <body>
    <div class="pane" id="console">
      <div id="from" class="box">
        {{OPTIONS}}
      </div>

      <br />

      <div id="to" class="box"></div>

      <br />

      <button type="button" name="check">SUMBIT</button>
    </div>
    <div class="pane">
      {{README}}
    </div>
  </body>
</html>
