body {
  background: #000000;
  font-family: monospace;
  font-size: 30px;
  color: #00ff00;
  width: 100%;
  margin: 0;
}

.pane {
  box-sizing: border-box;
  border: 1px solid #00ff00;
  border-radius: 10px;
  margin: 0.5vh 0.25vw 0.5vh 0.5vw;
  width: 49vw;
  height: 99vh;
  padding: 15px;
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;

  &::-webkit-scrollbar {
    display: none;
  }

  &:nth-child(even) {
    right: 0;
    margin: 0.5vh 0.5vw 0.5vh 0.25vw;
  }
}

.box {
  padding: 10px;
  border: solid;
  border-color: #00ff00;
  border-radius: 5px;
  border-width: 1px;
  width: max-content;
}

.drag {
  display: inline;

  &::before {
    content: " ";
  }

  &::after {
    content: " ";
  }
}

#to {
 min-height: 34px;
}

#from {
 min-height: 34px;
}

#console > button {
 font-family: monospace;
 background: black;
 color: #00ff00;
 border: solid;
 border-radius: 5px;
 width: 100px;
 height: 50px;
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s ease-in-out infinite;
  &::before {
    content: '█';
  }
}
