body {
  background: #000000;
  font-family: monospace;
  font-size: 25px;
  width: 100%;
  margin: 0;

  & * {
    transition: all 0.25s;
    color: #00ff00;
    margin: 0;
  }
}

.pane {
  box-sizing: border-box;
  border: 1px solid #00ff00;
  border-radius: 10px;
  margin: 0.5vh 0.25vw 0.5vh 0.5vw;
  width: 49.25vw;
  height: 99vh;
  padding: 15px;
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;

  &::-webkit-scrollbar {
    display: none;
  }

  &:nth-child(even) {
    right: 0;
    margin: 0.5vh 0.5vw 0.5vh 0.25vw;
  }
}

.box {
  padding: 10px;
  border: solid;
  border-color: #00ff00;
  border-radius: 5px;
  border-width: 1px;
  width: max-content;
}

.drag {
  display: inline;
  cursor: grab;

  &::before {
    content: " ";
  }

  &::after {
    content: " ";
  }
}

.next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: max-content;

  & > button {
    width: 100%;
    font-family: monospace;
    background: black;
    border: solid;
    border-radius: 5px;
    height: 50px;
  }
}

#to {
  min-height: 34px;
  width: auto;
}

#from {
  min-height: 34px;
  width: auto;
}

#console > button {
  font-family: monospace;
  background: black;
  border: solid;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}

#check {
  float: right;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s ease-in-out infinite;
  &::after {
    content: "█";
  }
}

a {
  color: #51afef;
}

blockquote {
  border-left: 5px solid #0f0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-radius: 10px;
}

code {
  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }
}

strong {
  text-shadow: 0 0 10px #0f0;
}
